$utilities: map-merge(
  $utilities,
  (
    "font-family": (
      property: font-family,
      class:  ff,
      values: (
        NotoSans: $font-family-Noto,
        OpenSans: $font-family-open,
      ),
    )
  )
);

// $utilities: (
//   "opacity": (
//     property: opacity,
//     values: (
//       0: 0,
//       25: .25,
//       50: .5,
//       75: .75,
//       100: 1,
//     )
//   )
//  );
